HiveGameServer/TestServer/Connected Services/HiveServerProxy/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HiveGameService.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HiveGameService.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccessAccount">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idAccount" type="xs:int" />
          <xs:element minOccurs="0" name="idProfile" type="xs:int" />
          <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="AccessAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idAccesAccount" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reputation" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessAccount" nillable="true" type="tns:AccessAccount" />
  <xs:complexType name="ArrayOfProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profile" nillable="true" type="tns:Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfile" nillable="true" type="tns:ArrayOfProfile" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element name="text" nillable="true" type="xs:string" />
      <xs:element name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="LeaderBoardPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAccount" type="xs:int" />
      <xs:element minOccurs="0" name="totalDrawMatches" type="xs:int" />
      <xs:element minOccurs="0" name="totalLostMatches" type="xs:int" />
      <xs:element minOccurs="0" name="totalMatches" type="xs:int" />
      <xs:element minOccurs="0" name="totalWonMatches" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaderBoardPlayer" nillable="true" type="tns:LeaderBoardPlayer" />
  <xs:complexType name="ArrayOfLeaderBoardPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaderBoardPlayer" nillable="true" type="tns:LeaderBoardPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderBoardPlayer" nillable="true" type="tns:ArrayOfLeaderBoardPlayer" />
  <xs:complexType name="UserVerificator">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserVerificator" nillable="true" type="tns:UserVerificator" />
</xs:schema>